body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
a {
    color: rgb(255, 255, 255);        
    text-decoration: none; 
  }
  
  a:visited {
    color: rgb(255, 255, 255);         
  }
#mainvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
  }
  #header {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 100vh;
   
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    z-index: 1000;
  }

  header>ul{
    line-height:70px;
    margin: 0;
}
header>ul>li>a:hover{
    color: rgb(19, 68, 141);
}
 #monsterimg{
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
            width: 50vw;
            filter:brightness(0%);
            animation-name: monstercome;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            
        }
        #monstername0{
            margin: 0;
            position: absolute;
            top: 20%;
            left: 75%;
            transform: translateX(-250%);
            font-size: 5vw;
            font-family: serif;
            filter:opacity(0);
            animation-name: namecome;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            color: rgb(255, 255, 255);
        }
        #monstername1{
            margin: 0;
            position: absolute;
            top: 20%;
            left: 75%;
            transform: translateX(-150%);
            font-size: 5vw;
            font-family: serif;
            filter:opacity(0);
            animation-name: namecome;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            color: rgb(255, 255, 255);
            
        }
        #monstername2{
            margin: 0;
            position: absolute;
            top: 20%;
            left: 75%;
            transform: translateX(-50%);
            font-size: 5vw;
            font-family: serif;
            filter:opacity(0);
            animation-name: namecome;
            animation-duration: 2s;
            animation-delay: 0.3s;
            animation-fill-mode: forwards;
            color: rgb(255, 255, 255);
        }
        #monstername3{
            margin: 0;
            position: absolute;
            top: 20%;
            left: 75%;
            transform: translateX(+50%);
            font-size: 5vw;
            font-family: serif;
            filter:opacity(0);
            animation-name: namecome;
            animation-duration: 2s;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
            color: rgb(255, 255, 255);
        }
        #monstersubname{
            margin: 0;
            position: absolute;
            left: 75%;
            transform: translateX(-50%);
            color: rgb(255, 255, 255);
            font-size: 2.4vw;
            filter:opacity(0);
            animation-name: subnamecome;
            animation-duration: 2s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            
        }
        #info{
            position: absolute;
            font-size: 2vw;
            top:40%;
            left: 60%;
            width: 30%;
            word-break:break-all;
            filter:opacity(0);
            animation-name: subnamecome;
            animation-duration: 2s;
            animation-delay: 0.9s;
            animation-fill-mode: forwards;
            color: rgb(255, 255, 255);
        }
        @keyframes namecome{
            0%{
                filter:opacity(0);
                transform:translateX(200%);
            }
            100%{
                filter:opacity(1);
            }
        }
        @keyframes subnamecome{
            0%{
                filter:opacity(0);
                transform:translateY(200%);
            }
            100%{
                filter:opacity(1);
            }
        }
        @keyframes monstercome{
            0%{
                filter:brightness(0%);
            }
            100%{
                filter:brightness(100%);
            }
        }