body {
    margin: 0;
    height: 400vh; 
    font-family: sans-serif;
}
a {
    color: rgb(255, 255, 255);        
    text-decoration: none; 
  }
  
  a:visited {
    color: rgb(255, 255, 255);         
  }
#mainvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
  }
  #header {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 100vh;
   
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
    z-index: 1000;
  }

  header>ul{
    line-height:70px;
    margin: 0;
}
header>ul>li>a:hover{
    color: rgb(19, 68, 141);
}
.tableimg{
    width: 100%;
    height: auto;
    display: block;
    transform: translate(200px, 0);
}
#landformtable {
    width: 25%;
    height: auto;
    table-layout: fixed;
  }
  #weaponchapter{
        position: relative;
        animation-name: monstercome;
        animation-duration: 0.5s;
        animation-play-state: paused;
    }
    #weaponinfo{
      
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        padding-bottom: 70px;
    }
.card-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1a1a1a;
 
  padding: 20px;
  margin: 20px auto;
  gap: 20px;
  width: 80%;
  color: white;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.palico-img {
  width: 80%;
  height: 40%px;
  object-fit: cover;
  border-radius: 10px;
}

.palico-info h3 {
  margin-bottom: 10px;
  font-size: 80px;
}

.palico-info p {
  font-size: 32px;
  line-height: 1.5;
}